---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <h1>Medlemmer</h1>
  <main>
    <Card id="1" navn="Jonas" email="joha@kea.dk" role="admin" img="https://via.assets.so/album.png?id=1&q=95&w=360&h=360&fit=fill" aktiv />
    <Card id="2" navn="Keld" email="kemm@kea.dk" role="user" img="https://via.assets.so/album.png?id=2&q=95&w=360&h=360&fit=fill" />
    <Card id="3" navn="Peter" email="peuj@kea.dk" role="reader" img="https://via.assets.so/album.png?id=3&q=95&w=360&h=360&fit=fill" />
    <Card id="4" navn="Alan" email="ale@kea.dk" role="admin" img="https://via.assets.so/album.png?id=4&q=95&w=360&h=360&fit=fill" />
  </main>
</Layout>

<style>
  main {
    max-width: 1000px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
  h1 {
    margin-left: 1rem;
  }
</style>
