---
import { date } from "astro:schema";
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4";

const options = {
  headers: {
    apikey: key,
  },
};

const columns = "?select=navn,email";

const res = await fetch(url + columns, options);
const data = await res.json();
//console.log(data);
---

<Layout>
  <main>
    {data.map((person) => <Card indhold={person} />)}
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
</style>
