---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout>
  <main>
    <Card id="1" navn="Jonas" email="joha@kea.dk" role="admin" />
    <Card id="2" navn="Keld" email="kemm@kea.dk" role="user" />
    <Card id="3" navn="Alan" email="ale@kea.dk" role="user" />
    <Card id="1" navn="Jonas" email="joha@kea.dk" role="admin" />
    <Card id="2" navn="Keld" email="kemm@kea.dk" role="user" />
    <Card id="3" navn="Alan" email="ale@kea.dk" role="user" />
  </main>
</Layout>

<style>
  main {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }
</style>
