---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
const url = "https://pbhqptcgtunejfwsunzi.supabase.co/rest/v1/medlemmer";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBiaHFwdGNndHVuZWpmd3N1bnppIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg1MjU3NjEsImV4cCI6MTk5NDEwMTc2MX0.qPLnnbV_2nDBjczEpGDt10lr3DQgCZ54roKiy0OZXL4";

const options = {
  headers: {
    apikey: key,
  },
};

const columns = "?select=id,navn,email";
const resp = await fetch(url + columns, options);
const data = await resp.json();
//console.log(data);
---

<Layout>
  <main>
    {data.map((person) => <Card indhold={person} />)}
  </main>
</Layout>
