---
const { id, navn, email, role } = Astro.props;
---

<article class={role}>
  <a href={"single/" + id}>
    <h2>{navn}</h2>
  </a>
  <a href={"mailto:" + email}>{email}</a>
</article>

<style>
  article {
    padding: 1rem;
  }
  .admin {
    background-color: #eed;
  }
  .user {
    background-color: #ede;
  }
</style>
