---
const { product } = Astro.props;
---

<a href={"single/" + product.id}>
  <article>
    <img src={} alt="" />
    <h2>{product.productdisplayname}</h2>
    <p>{product.articletype}</p>
    <p>{product.price} kr.</p>
    <p>{product.category}</p>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  article {
    padding: 1rem;
    background-color: antiquewhite;
  }
</style>
