---
export async function getStaticPaths() {
  const dummyUrl = "https://dummyjson.com/products";
  const data = await fetch(dummyUrl).then((res) => res.json());

  return data.products.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;
---

<h1>{id}: {product.title}</h1>
