---
export async function getStaticPaths() {
  const data = await fetch("https://kea-alt-del.dk/t7/api/products").then((res) => res.json());

  return data.map((product) => {
    return {
      params: { id: product.id },
      props: { product },
    };
  });
}

const { id } = Astro.params;
const { product } = Astro.props;
---

<h1>{id}: {product.productdisplayname}</h1>
